.color {
  position: relative;

  padding: 12px 40px;
  padding-right: 0;

  font-size: 16px;
  line-height: 24px;
  text-align: left;

  background: no-repeat 0 center;
  border: none;
  outline: none;
  cursor: pointer;

  --current-color: #c4c4c4;
  --prev-color: #41f795;
  --red-color: #f74141;
  --blue-color: #41b6f7;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;

    width: 20px;
    height: 20px;

    border: 1px solid #000000;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &--current::before {
    background-color: var(--current-color);
  }

  &--prev::before {
    background-color: var(--prev-color);
  }

  &--red::before {
    background-color: var(--red-color);
  }

  &--blue::before {
    background-color: var(--blue-color);
  }
}
