@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.UnitSwitch {
  display: flex;
}

.UnitSwitch-item {
  label {
    display: block;
    padding: 13px 14px 10px 15px;

    background-color: rgba(76, 82, 85, 0.4);

    cursor: pointer;
  }

  input {
    display: none;
  }

  input:checked + label {
    background-color: rgba(174, 181, 185, 0.5);
  }

  &:first-child label {
    border-radius: 5px 0 0 5px;
  }

  &:last-child label {
    border-radius: 0 5px 5px 0;
  }

  & label:hover {
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3
    );
    background-size: 1800% 1800%;
    animation: rainbow 6s ease infinite;

    transform: scale(1.1);
  }
}
