.tools {
  margin: 0;
  padding: 0;
  width: 228px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
  list-style: none;
}

.tools__item {
  margin: 0;
  padding: 0 16px;

  &--selected {
    background-color: #cccccc;
  }
}

.tools__btn {
  display: block;
  padding: 12px 0;
  padding-left: 57px;
  width: 100%;

  font-size: 16px;
  line-height: 24px;
  text-align: left;

  background: no-repeat 0 center;
  border: none;
  outline: none;
  cursor: pointer;

  &--paint-bucket {
    background-image: url('img/paint-bucket.svg');
  }

  &--choose-color {
    background-image: url('img/choose-color.svg');
  }

  &--pencil {
    background-image: url('img/pencil.svg');
  }
}
