.LocationInfo {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;

  font-size: 20px;
  line-height: 30px;
  color: white;

  text-transform: uppercase;

  @media (min-width: 1200px) {
    font-size: 44px;
    line-height: 54px;
  }
}
