@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.LanguageSwitch {
  display: block;
  padding: 13px 35px 14px 15px;

  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: white;

  text-transform: uppercase;

  background: url('./img/arrow.svg') rgba(174, 181, 185, 0.5) no-repeat 45px 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3
    );
    background-size: 1800% 1800%;
    animation: rainbow 6s ease infinite;

    transform: scale(1.1);
  }
}
