@import url('https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css');

.LocationMap-map > div {
  position: relative;

  width: 100%;
  height: 360px;
  @media (min-width: 1200px) {
    width: 360px;
  }

  border-radius: 10px;
}

.LocationMap-coords {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  text-align: right;
  text-transform: capitalize;
}
