.header {
  display: flex;
  align-items: center;

  padding: 14px 20px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.header__heading {
  order: 1;

  margin: 0;
  margin-left: 30px;
  margin-right: auto;

  font: normal 500 20px/23px "Roboto", Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

.header__menu-toggle {
  width: 18px;
  height: 12px;

  border: none;
  background: url("blocks/header/img/menu.svg") no-repeat center;
  outline: none;
  cursor: pointer;
}

.header__options-toggle {
  order: 2;

  width: 4px;
  height: 16px;

  border: none;
  background: url("blocks/header/img/options.svg") no-repeat center;
  outline: none;
  cursor: pointer;
}
