body {
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page-main {
  margin: 0 auto;
  max-width: 1024px;
}

.page-main__wrapper {
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
}

.page-main__fullname {
  margin: 0;
}

.avatar {
  border-radius: 10px;
}

.heading {
  margin-top: 0;
}

.contacts__list {
  margin-bottom: 20px;
}

.contacts__item {
  padding-bottom: 10px;
  width: 30%;

  font-weight: bold;
}

.contacts__value {
  margin-bottom: 20px;

  vertical-align: top;
}

.skills {
  margin: 30px 0;
}

.skills__wrapper {
  display: flex;
  justify-content: space-between;
}

.skills__list {
  margin: 0;
  padding-left: 20px;
}

.skills__item {
  margin-bottom: 10px;
}

.skills__name {
  margin: 0;
  margin-bottom: 10px;
}

.code {
  margin-bottom: 30px;
}

.code__examples {
  margin: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}

.code__language {
  margin: 0;
  margin-bottom: 10px;
}

.code__content {
  margin: 0;
  margin-bottom: 20px;
  padding: 20px;

  border-radius: 10px;
  background-color: #eeeeee;
}

.experience {
  margin-bottom: 40px;
}

.experience__list {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 20px;
}

.experience__item {
  margin-bottom: 15px;
}

.page-main__education {
  width: 50%;
}

.education__list {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 20px;
}

.education__item {
  margin-bottom: 15px;
}

.page-main__courses {
  width: 50%;
}

.courses__list {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 20px;
}

.courses__item {
  margin-bottom: 15px;
}
