.FutureWeather {
  background: var(--bg-image-url) no-repeat 110px 15px;
  background-size: 100px;
}

.FutureWeather-date {
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: white;
  text-transform: uppercase;
}

.FutureWeather-degrees {
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 98px;
  color: #ffffff;
  text-transform: uppercase;
}
