.App {
  padding-top: 20px;
  min-height: 100vh;

  color: white;

  background: var(--bg-image-url) no-repeat;
  background-size: cover;
}

.App-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;

  display: grid;
  grid-template-columns: 44px 70px 1fr;
  grid-template-areas:
    'bgSwitch languageSwitch unitSwitch'
    'locationSearch locationSearch locationSearch'
    'locationInfo locationInfo locationInfo'
    'locationMap locationMap locationMap'
    'weather weather weather';
  column-gap: 20px;
  row-gap: 20px;

  @media (min-width: 1200px) {
    grid-template-columns: 44px 70px 1fr 360px;
    grid-template-areas:
      'bgSwitch languageSwitch unitSwitch locationSearch'
      'locationInfo locationInfo locationInfo .'
      'weather weather weather locationMap';
    column-gap: 10px;
  }
}

.App-bgSwitch {
  grid-area: bgSwitch;
}

.App-languageSwitch {
  grid-area: languageSwitch;
}

.App-unitSwitch {
  grid-area: unitSwitch;
}

.App-locationSearch {
  grid-area: locationSearch;
}

.App-locationInfo {
  grid-area: locationInfo;
}

.App-locationMap {
  grid-area: locationMap;
}

.App-weather {
  grid-area: weather;
}
