.navigation-button {
  padding: 10px 15px;
  margin-bottom: 10px;

  background-color: #78909c;
  cursor: pointer;

  transition: all 0.05s;

  &:hover {
    background-color: gray;
  }
}

.navigation-button:active,
.navigation-button--pressed {
  background-color: #8cb5ca;
  transform: scale(0.9);
  box-shadow: 1px 1px 1px rgba($color: black, $alpha: 0.3);
}
