.char-button {
  box-sizing: border-box;

  margin-bottom: 10px;
  padding: 10px 10px;
  min-width: 50px;

  text-align: center;

  background-color: #ffeb3b;
  cursor: pointer;

  transition: all 0.05s;

  &:hover {
    background-color: #ffd54f;
  }
}

.char-button:active,
.char-button--pressed {
  background-color: #ffb74d;
  transform: scale(0.9);
  box-shadow: 1px 1px 1px rgba($color: black, $alpha: 0.3);
}
