.arrow-slider {
  display: flex;
  flex-direction: column;
}

.arrow-slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.arrow-slider__controls {
  display: none;

  @include desktop {
    display: flex;
    align-items: center;
  }
}

.arrow-slider__primary {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.arrow-slider__control {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.arrow-slider__control-btn {
  padding: 0;
  width: 10px;
  height: 10px;

  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;

  &:hover {
    background-color: $white;
  }

  &--current {
    background-color: $white;
  }
}

.arrow-slider__secondary {
  width: 41px;
  height: 15px;

  border: none;
  background: transparent no-repeat;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  --margin: 28px;

  &--prev {
    margin-right: var(--margin);

    background-image: url("assets/img/arrow-slider-prev.svg");
  }

  &--next {
    margin-left: var(--margin);

    background-image: url("assets/img/arrow-slider-next.svg");
  }
}
