.btn {
  display: block;
  padding: 19px 21px 18px;

  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: $white;
  text-transform: uppercase;

  border: none;
  background-color: $gold;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    color: $gold;

    background-color: $white;
  }

  &--sm {
    padding: 13px 33px;
  }

  &--md {
    padding: 17px 74px;
  }

  &--ghost {
    background-color: transparent;
    border: 1px solid $white;
  }
}
