.call {
  display: flex;
  align-items: center;
}

.call__number {
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: $white;
  vertical-align: top;

  &:hover {
    color: $gold;
  }

  @include desktop {
    color: $gold;
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;

    &:hover {
      color: $white;
    }
  }
}

.call__btn {
  display: none;
  margin-left: 45px;

  @include desktop {
    display: block;
  }
}
