.card__preview {
  position: relative;

  display: block;
  margin-bottom: -142px;
  width: 100%;

  img {
    width: 100%;
  }

  @include desktop {
    margin-bottom: -120px;
  }
}

.card__wrapper {
  width: 270px;

  @include desktop {
    margin: 0 auto;
    width: 330px;
  }
}

.card__description {
  position: relative;
  z-index: 1;

  margin-bottom: -20px;
  padding: 21px 41px 37px 31px;

  background-color: $white;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
}

.card__name {
  margin: 0;
  margin-bottom: 10px;

  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: $dark-gray;

  @include desktop {
    font-size: 18px;
    line-height: 25px;
  }
}

.card__options {
  margin: 0;
  padding-left: 15px;

  list-style-type: disc;
}

.card__option {
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: $light-gray;

  @include desktop {
    font-size: 15px;
    line-height: 25px;
  }
}

.card__link {
  position: relative;
  z-index: 2;

  display: inline-block;
  padding: 12px 20px;
  padding-right: 0;
  width: 191px;

  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: $white;

  background-color: $gold;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);

  @include desktop {
    width: 228px;

    font-size: 18px;
    line-height: 25px;
  }
}

.card__mobile-only {
  @include desktop {
    display: none;
  }
}

.card__desktop-only {
  display: none;

  @include desktop {
    display: block;
  }
}
