.checkbox-input__label {
  position: relative;

  display: block;
  margin-left: 27px;

  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: inherit;
  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    left: -27px;

    width: 18px;
    height: 18px;

    border: 2px solid $gold;
    border-radius: 1px;
  }
}

.checkbox-input input[type="checkbox"]:checked + .checkbox-input__label::before {
  background: url("assets/img/checkbox-checked.svg") $gold no-repeat center;
}
