.clients {
  display: none;

  padding-top: 100px;
  padding-bottom: 130px;

  background-color: $white;

  @include desktop {
    display: block;
  }
}

.clients__heading {
  margin: 0;
  margin-bottom: 24px;
  padding-bottom: 40px;

  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: $dark;

  background: url("assets/img/clients-heading.svg") no-repeat center bottom;
}

.clients__stat {
  margin: 0 auto 39px;
  width: 290px;

  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: $dark-gray;
}

.clients__reviews {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.clients__review {
  padding: 20px;
  width: 376px;

  background-color: $white;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
}

.clients__wrapper {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.clients__name {
  margin: 0;
  width: 176px;

  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: $dark;
}

.clients__avatar {
  order: -1;

  margin-right: 20px;

  border-radius: 50%;
}

.clients__text {
  margin: 0;
  margin-bottom: 20px;

  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 27px;
  color: $light-gray;
}

.clients__params {
  display: flex;

  margin: 0;
  margin-left: -20px;
  padding: 0;

  list-style: none;
}

.clients__param {
  margin-bottom: -50px;
  padding: 15px;
  padding-left: 60px;
  padding-right: 30px;

  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: $white;

  border-right: 1px solid $white;
  background: $gold no-repeat 15px center;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);

  &--area {
    background-image: url("assets/img/area.svg");
  }

  &--time {
    background-image: url("assets/img/time.svg");
  }

  &:last-child {
    border-right: none;
  }
}
