.contacts {
  padding-top: 50px;

  @include desktop {
    padding-top: 330px;
    padding-bottom: 60px;

    background: url("assets/img/bg-contacts.jpg") no-repeat;
    background-size: cover;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__heading {
  margin: 0;
  margin-bottom: 26px;
  padding: 0 15px;

  font-size: 18px;
  line-height: 25px;

  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: $gold;

  @include desktop {
    width: 589px;

    font-size: 20px;
    line-height: 28px;
  }
}

.contacts__tel {
  font: inherit;
  color: inherit;
}

.contacts__socials {
  display: flex;
  justify-content: space-between;

  width: 100px;

  margin: 0;
  margin-bottom: 43px;
  padding: 0;

  list-style: none;

  @include desktop {
    width: 71px;
  }
}

.contacts__link {
  display: block;

  width: 39px;
  height: 39px;

  border-radius: 50%;
  background: $gold no-repeat center;

  &:hover {
    transform: scale(1.1);
  }

  @include desktop {
    width: 26px;
    height: 26px;
    background-size: 65%;
  }

  &--mail {
    background-image: url("assets/img/mail.svg");
  }

  &--instagram {
    background-image: url("assets/img/instagram.svg");
  }
}

.contacts__map {
  order: -1;

  margin-bottom: 40px;

  @include desktop {
    order: 0;

    margin-bottom: 0;
  }
}
