.design {
  padding-top: 52px;
  padding-bottom: 76px;

  @include desktop {
    margin-top: -30px;
    padding-top: 150px;
    padding-bottom: 0;

    background-image: linear-gradient(to bottom, $white 620px, $black 620px);
  }
}

.design__heading {
  margin: 0;
  margin-bottom: 23px;
  padding-bottom: 44px;

  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  background: url("assets/img/design-heading.svg") no-repeat center bottom;

  @include desktop {
    font-size: 20px;
    line-height: 28px;
    color: $dark;
  }
}

.design__description {
  padding: 0 23px;
  margin-bottom: 39px;

  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: $white;

  @include desktop {
    margin: 0 auto 39px;
    padding: 0;
    width: 654px;

    font-size: 20px;
    line-height: 27px;
    color: $dark-gray;
  }
}

.design__types {
  margin: 0;
  padding: 0;

  list-style: none;

  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.design__type {
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }

  @include desktop {
    width: 392px;
  }
}
