.fantasy {
  padding-top: 55px;

  background-image: linear-gradient(to bottom, $white 260px, transparent 260px);

  @include desktop {
    padding: 0;

    background: url("assets/img/bg-fantasy.jpg") $white no-repeat;
    background-position-y: 140px;
    background-size: cover;
  }
}

.fantasy__wrapper {
  @include desktop {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "heading images"
      "list images";
  }
}

.fantasy__heading {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 40px;

  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $gold;

  @include desktop {
    margin-bottom: 47px;
    padding: 0;
    padding-top: 270px;
    padding-right: 90px;

    font-size: 27px;
    line-height: 37px;
    text-align: left;
  }
}

.fantasy__options {
  grid-area: list;

  display: none;
  margin: 0;
  padding: 0;

  list-style: none;

  @include desktop {
    display: block;
  }
}

.fantasy__option {
  margin-bottom: 20px;
}

.fantasy__link {
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 20px;
  line-height: 34px;
  color: $white;

  &:hover {
    color: $gold;
  }

  &--current {
    color: $gold;
    text-decoration: underline;
  }
}

.fantasy__slider {
  grid-area: images;
}

.fantasy__images {
  margin: 0;
  padding: 0;

  list-style: none;

  @include desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;

    height: 1049px;
  }
}

.fantasy__item {
  @include desktop {
    &:not(:nth-child(2n)) {
      margin-bottom: 42px;
    }

    &:first-child {
      margin-top: 100px;
    }
  }
}
