.measures {
  display: none;
  padding-top: 179px;
  padding-bottom: 80px;

  background-color: $white;

  @include desktop {
    display: block;
  }
}

.measures__wrapper {
  padding-right: calc(100% - 1340px);

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 509px;
    grid-template-areas:
      "features form"
      "features special";
    justify-content: space-between;
    column-gap: 5px;
    align-items: end;
  }
}

.measures__features {
  grid-area: features;

  position: relative;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 110px;
  height: 636px;

  background: url("assets/img/bg-measures-list.png") no-repeat;
  list-style: none;

  &::before {
    content: "";

    position: absolute;
    top: 30px;
    left: -150px;

    width: 636px;
    height: 636px;

    border: 4px solid $gold;
    border-radius: 50%;
  }
}

.measures__feature {
  position: relative;

  font-family: "FuturaMediumC", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;

  color: $dark-gray;

  &::before {
    position: absolute;
    top: -14px;
    left: -70px;

    padding-top: 8px;
    width: 70px;
    height: 70px;

    font-family: "Yeseva One", Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: $white;

    border: 15px solid $white;
    border-radius: 50%;
    background-color: $gold;
  }

  &:nth-child(1) {
    margin-left: 430px;
    margin-bottom: 70px;

    &::before {
      content: "01";
    }
  }

  &:nth-child(2) {
    margin-left: 500px;
    margin-bottom: 130px;
    padding-top: 12px;

    &::before {
      content: "02";
    }
  }

  &:nth-child(3) {
    margin-left: 515px;
    margin-bottom: 128px;

    &::before {
      content: "03";
    }
  }

  &:nth-child(4) {
    margin-left: 440px;

    &::before {
      content: "04";
    }
  }
}

.measures__form {
  grid-area: form;
  display: flex;
  flex-direction: column;

  padding: 28px 49px;

  color: $white;

  background-color: $black;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.measures__form-title {
  margin: 0;
  padding: 0 66px 39px;

  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: $white;
}

.measures__text-inputs {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;

  list-style: none;
}

.measures__text-input {
  margin-bottom: 70px;

  &:last-child {
    margin-bottom: 0;
  }
}

.measures__personal-data {
  margin-bottom: 39px;
}

.measures__submit {
  align-self: flex-end;
}

.measures__special {
  grid-area: special;

  padding: 30px 180px 30px 100px;

  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: $gold;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);

  background: url("assets/img/measures-special.svg") no-repeat -10px -7px;
}
