.navbar {
  justify-content: space-between;
  align-items: center;

  padding: 0;

  list-style: none;
}

.navbar__link {
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $white;

  text-transform: uppercase;

  &:hover {
    color: $gold;
  }

  &--current {
    color: $gold;
  }
}
