.online {
  background-image: linear-gradient(to top, $white 25px, transparent 25px);
  @include desktop {
    background-image: linear-gradient(to bottom, transparent 323px, $white 323px);
  }
}

.online__wrapper {
  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.online__heading {
  margin-bottom: 40px;
  padding-bottom: 48px;

  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  background: url("assets/img/online-heading.svg") no-repeat center bottom;

  @include desktop {
    font-size: 20px;
    line-height: 28px;
  }
}

.online__video {
  margin-bottom: 28px;
  width: 100%;

  @include desktop {
    margin-bottom: 63px;
    width: 817px;
    height: 434px;
  }
}

.online__text {
  position: relative;

  margin: 0;
  margin-bottom: 40px;
  padding-top: 22px;

  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $white;

  &::before {
    content: "";

    position: absolute;
    left: 50%;
    top: 0;

    width: 55px;
    height: 2px;

    background-color: $gold;
    transform: translateX(-50%);
  }

  @include desktop {
    margin-bottom: 92px;
    padding-top: 34px;
    width: 681px;

    font-size: 20px;
    line-height: 34px;
    color: $dark-gray;
  }
}

.online__form {
  @include desktop {
    display: grid;
    grid-template-columns: 520px 200px;
    grid-template-areas:
      "text submit"
      "personal personal";
    column-gap: 49px;
    justify-items: center;

    width: 769px;
  }
}

.online__text-inputs {
  grid-area: text;

  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  width: 100%;

  list-style: none;

  @include desktop {
    display: flex;
    justify-content: space-between;

    margin: 0;
  }
}

.online__text-input {
  margin: 0;
  margin-bottom: 63px;

  color: $white;

  &:last-child {
    margin-bottom: 0;
  }

  @include desktop {
    margin: 0;
    width: 231px;

    color: $dark;
  }
}

.online__personal-data {
  grid-area: personal;

  margin-bottom: 63px;

  color: $white;

  @include desktop {
    color: $dark;
  }
}

.online__submit {
  grid-area: submit;

  width: 100%;

  @include desktop {
    width: 200px;
  }
}
