.page-footer {
  display: none;

  @include desktop {
    display: block;
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: $desktop-width;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 32px;
}

.page-footer__heading {
  margin: 0;

  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $gold;
  text-transform: uppercase;
}
