.page-header {
  position: relative;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: $desktop-width;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 22px;

  @include desktop {
    padding-top: 24px;
  }
}

.page-header__heading {
  margin: 0;

  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: $gold;
  text-transform: uppercase;
}
