.photo-slider {
  position: relative;

  overflow: hidden;
}

.photo-slider__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
  transform: translate(-100%);

  @include desktop {
    transform: none;
  }
}

.photo-slider__item {
  flex-shrink: 0;
  width: 100%;
}

.photo-slider:not(.photo-slider--mobile) .photo-slider__item {
  @include desktop {
    margin-right: 21px;

    width: 679px;
  }
}

.photo-slider.photo-slider--mobile .photo-slider__item {
  @include desktop {
    width: auto;
  }
}

.photo-slider__image {
  width: 100%;

  img {
    width: 100%;
  }
}

.photo-slider__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 36px;
  height: 36px;

  border: none;
  border-radius: 50%;
  background: $gold no-repeat;
  background-position-y: center;
  cursor: pointer;

  &:hover {
    background-color: $dark;
  }

  &--prev {
    left: 13px;
    background-image: url("assets/img/photo-slider-prev.svg");
    background-position-x: 45%;

    @include desktop {
      display: none;
    }
  }

  &--next {
    right: 13px;
    background-image: url("assets/img/photo-slider-next.svg");
    background-position-x: 55%;

    @include desktop {
      width: 56px;
      height: 56px;

      background-size: 14px;
    }
  }
}

.photo-slider--mobile {
  @include desktop {
    .photo-slider__controls {
      display: none;
    }
  }
}
