.projects__wrapper {
  padding-top: 36px;
  padding-bottom: 67px;
  padding-left: 18px;
  padding-right: 18px;

  @include desktop {
    display: grid;
    grid-template-columns: 442px 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas:
      ". projects"
      "heading images"
      "description images"
      "params images";
    column-gap: 50px;

    margin-left: calc(100% - 1340px);
    padding-top: 107px;
  }
}

.projects__heading {
  grid-area: heading;

  position: relative;

  margin: 0;
  margin-bottom: 22px;
  padding: 0 100px;

  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: $gold;

  @include desktop {
    margin-bottom: 34px;
    padding-left: 0;
    padding-right: 161px;

    font-size: 27px;
    line-height: 37px;
    text-align: left;

    &::after {
      content: "";

      position: absolute;
      top: 53px;
      left: 160px;

      width: 91px;
      height: 2px;

      background-color: $gold;
    }
  }
}

.projects__description {
  grid-area: description;

  margin: 0;
  margin-bottom: 36px;
  padding: 0 13px;

  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: $white;

  @include desktop {
    padding-left: 0;

    font-size: 18px;
    line-height: 29px;
    text-align: left;
  }
}

.projects__images {
  grid-area: images;

  margin-bottom: 37px;

  @include desktop {
    margin-bottom: 0;
  }
}

.projects__params {
  grid-area: params;

  @include desktop {
    padding-right: 60px;
  }
}

.projects__params-list {
  margin-bottom: auto;
}

.projects__param-table {
  width: 100%;
}

.projects__param-table tbody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 27px;
}

.projects__param-table tr {
  display: flex;
  flex-direction: column;
}

.projects__key {
  margin-bottom: 11px;

  font-size: 14px;
  line-height: 19px;
  color: $gold;
  text-transform: uppercase;

  @include desktop {
    font-size: 18px;
    line-height: 25px;
  }
}

.projects__value {
  width: 100px;

  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;

  color: $white;

  @include desktop {
    font-size: 15px;
    line-height: 20px;
  }
}

.projects__list {
  grid-area: projects;

  display: none;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  list-style: none;

  @include desktop {
    display: flex;
  }
}

.projects__item {
  margin-right: 61px;
}

.projects__link {
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.3);

  &:hover {
    color: $white;
  }

  &--current {
    color: $gold;
    text-decoration: underline;
  }
}
