.promo {
  position: relative;

  background: url("assets/img/bg-promo.jpg") no-repeat;
  background-size: cover;

  @include desktop {
    background-image: url("assets/img/bg-promo-desktop.jpg");
  }
}

.promo__instagram {
  position: absolute;
  left: 0;
  bottom: 100%;
  z-index: 1;

  display: none;
  width: 660px;

  background-color: $black;
  transform-origin: left bottom;
  transform: rotate(90deg);

  @include desktop {
    display: block;
  }
}

.promo__instagram-link {
  position: relative;

  display: inline-block;
  margin-left: 340px;
  padding-top: 32px;
  padding-bottom: 35px;

  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $gold;

  text-transform: uppercase;

  &:hover {
    color: $white;

    &::after {
      background-color: $white;
    }
  }

  &::after {
    content: "";

    position: absolute;
    top: 36px;
    right: -60px;

    width: 51px;
    height: 2px;

    background-color: $gold;
  }
}

.promo__wrapper {
  padding-top: 85px;
  padding-bottom: 61px;

  @include desktop {
    padding: 194px 640px 208px 60px;
  }
}

.promo__heading {
  margin: 0;
  margin-bottom: 16px;

  font-size: 23px;
  font-weight: normal;
  line-height: 31px;
  text-transform: uppercase;

  color: $white;

  @include desktop {
    font-size: 40px;
    line-height: 53px;
  }
}

.promo__highlight {
  font-weight: normal;
  color: $gold;
}

.promo__text {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  padding-right: 56px;

  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;

  color: $white;

  @include desktop {
    padding-right: 100px;

    font-size: 22px;
    line-height: 30px;
  }
}

.promo__btn-wrapper {
  @include desktop {
    display: flex;
  }
}

.promo__cost {
  margin-bottom: 26px;

  @include desktop {
    margin-bottom: 0;
    margin-right: 20px;
    width: 207px;
  }
}

.promo__submit {
  @include desktop {
    width: 207px;
  }
}

.promo__desktop-only {
  display: none;

  @include desktop {
    display: inline;
  }
}

.promo__scroll-down {
  position: absolute;
  left: 0;
  bottom: -50px;
  z-index: 2;

  display: none;
  padding: 40px 94px 39px 48px;

  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: $white;

  background: $black url("assets/img/scroll-down.svg") no-repeat calc(100% - 44px) center;

  &:hover {
    color: $gold;
  }

  @include desktop {
    display: block;
  }
}
