.questions {
  @include desktop {
    margin-bottom: -300px;

    background-color: $white;
  }
}

.questions__wrapper {
  position: relative;
  z-index: 1;

  padding-top: 76px;

  @include desktop {
    margin: 0 auto;
    padding: 34px 181px;
    padding-bottom: 52px;
    width: 883px;

    background-color: $black;
  }
}

.questions__heading {
  margin: 0;
  margin-bottom: 52px;

  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
}

.questions__form {
  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.questions__text-inputs {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  list-style: none;

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 50px;
  }
}

.questions__text-input {
  margin-bottom: 50px;

  color: $white;

  &:last-child {
    margin-bottom: 0;
  }

  @include desktop {
    flex-basis: 231px;

    &:last-child {
      flex-grow: 1;
    }
  }
}

.questions__personal-data {
  margin-bottom: 70px;

  color: $white;
}

.questions__submit {
  width: 100%;

  @include desktop {
    width: 200px;
  }
}
