.repair {
  padding-top: 58px;

  background-color: $white;
}

.repair__heading {
  margin: 0;
  margin-bottom: 40px;
  padding-bottom: 45px;

  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: $dark;
  text-transform: uppercase;

  background: url("assets/img/repair-heading.svg") no-repeat center bottom;

  @include desktop {
    font-size: 20px;
    line-height: 28px;
  }
}

.repair__types {
  margin: 0;
  padding: 0;

  list-style: none;

  @include desktop {
    display: flex;
    justify-content: space-between;
  }
}

.repair__type {
  margin-bottom: 59px;

  &:last-child {
    margin-bottom: 0;
  }

  @include desktop {
    width: 392px;
  }
}

.repair__preview {
  position: relative;

  margin-bottom: -142px;
  width: 100%;

  @include desktop {
    margin-bottom: -120px;
  }
}

.repair__wrapper {
  width: 270px;

  @include desktop {
    margin: 0 auto;
    width: 330px;
  }
}

.repair__description {
  position: relative;
  z-index: 1;

  margin-bottom: -20px;
  padding: 21px 41px 37px 31px;

  background-color: $white;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
}

.repair__name {
  margin: 0;
  margin-bottom: 10px;

  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: $dark-gray;

  @include desktop {
    font-size: 18px;
    line-height: 25px;
  }
}

.repair__options {
  margin: 0;
  padding-left: 15px;

  list-style-type: disc;
}

.repair__option {
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: $light-gray;

  @include desktop {
    font-size: 15px;
    line-height: 25px;
  }
}

.repair__link {
  position: relative;
  z-index: 2;

  display: inline-block;
  padding: 12px 20px;

  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: $white;

  background-color: $gold;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);

  @include desktop {
    font-size: 18px;
    line-height: 25px;
  }
}
