.team {
  @include desktop {
    background-image: linear-gradient(to bottom, $black 400px, $white 400px);
  }
}

.team__heading {
  margin: 0;
  margin-bottom: 24px;
  padding-bottom: 41px;

  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  background: url("assets/img/team-heading.svg") no-repeat center bottom;
}

.team__members {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 50px;
  }
}

.team__member {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-bottom: 104px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";

    position: absolute;
    left: -35px;
    top: -55px;

    width: 70px;
    height: 70px;

    background: $gold no-repeat center;
  }

  &--manager::before {
    background-image: url("assets/img/idea.svg");
  }

  &--design::before {
    background-image: url("assets/img/design.svg");
  }

  &--foreman::before {
    background-image: url("assets/img/portfolio.svg");
  }

  @include desktop {
    width: auto;
    margin-bottom: 0;
  }
}

.team__preview {
  margin-bottom: -95px;
  width: 100%;
}

.team__picture {
  width: 100%;
}

.team__description {
  margin: 0;
  margin-bottom: 104px;

  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: $white;

  @include desktop {
    margin-left: auto;
    margin-right: auto;
    width: 330px;
  }
}

.team__wrapper {
  padding: 20px;
  width: 233px;

  background-color: $white;
}

.team__name {
  margin: 0;

  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: $dark;
}

.team__position {
  display: block;

  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $light-gray;
}

.team__experience {
  display: block;
  padding: 14px 0;
  width: 233px;

  font-size: 13px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  background-color: $gold;
}

.team__summary {
  display: none;

  position: relative;

  margin: 0 auto;
  padding-top: 20px;
  width: 558px;

  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: $dark-gray;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 50%;

    width: 55px;
    height: 2px;

    background-color: $gold;
    transform: translateX(-50%);
  }

  @include desktop {
    display: block;
  }
}
