.text-input {
  font-family: "FuturaBookC", Arial, sans-serif;
}

.text-input__label {
  display: block;

  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.text-input__text {
  padding: 0;
  width: 100%;

  font-size: 18px;
  line-height: 25px;
  color: inherit;

  border: none;
  border-bottom: 1px solid $white;
  background-color: transparent;

  &::placeholder {
    color: $white;
  }
}

@include desktop {
  .text-input--desktop-light {
    .text-input__label {
      color: rgba(54, 54, 54, 0.5);
    }

    .text-input__text {
      border-color: $dark;

      &::placeholder {
        color: $dark;
      }
    }
  }
}
