.work {
  display: none;

  margin-top: -30px;
  padding-bottom: 80px;

  @include desktop {
    display: block;
  }
}

.work__wrapper {
  display: grid;
  grid-template-columns: 337px 805px;
  grid-template-areas:
    "heading ."
    "slogan stages"
    "slider stages"
    "slider image";
  justify-content: space-between;
}

.work__heading {
  grid-area: heading;

  margin: 0;
  margin-bottom: 18px;

  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: $white;
}

.work__slogan {
  position: relative;

  grid-area: slogan;

  margin-bottom: 92px;
  padding-right: 130px;

  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: $gold;

  &::after {
    content: "";

    position: absolute;
    bottom: 15px;
    right: 30px;

    width: 92px;
    height: 2px;

    background-color: rgba($color: $gold, $alpha: 0.5);
  }
}

.work__slider {
  grid-area: slider;
}

.work__order {
  display: block;
  margin-bottom: 22px;

  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: $white;
}

.work__title {
  margin: 0;
  margin-bottom: 16px;

  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
  color: $gold;
}

.work__description {
  margin: 0;
  margin-bottom: 141px;

  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: $white;
}

.work__stages {
  grid-area: stages;

  display: grid;
  grid-template-columns: repeat(3, 120px);
  justify-content: space-between;
  row-gap: 36px;

  margin: 0;
  margin-bottom: 104px;
  padding: 0;
  padding-top: 40px;

  list-style: none;
  counter-reset: stage;
}

.work__stage {
  position: relative;

  padding-top: 30px;

  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &::before {
    counter-increment: stage;
    content: "0" counter(stage);

    position: absolute;
    top: 0;

    font-size: 15px;
    line-height: 21px;
    color: $white;

    border-bottom: 2px solid $gold;
  }

  &--current {
    opacity: 1;
  }
}

.work__link {
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: $white;
}

.work__image {
  grid-area: image;
}
