@font-face {
  font-family: "Yeseva One";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/yesevaone.ttf") format("opentype");
}

@font-face {
  font-family: "FuturaBookC";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/futurabookc.otf") format("opentype");
}

@font-face {
  font-family: "FuturaDemiC";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/futurademic.otf") format("opentype");
}

@font-face {
  font-family: "FuturaMediumC";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/futuramediumc.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/proximanova.ttf") format("opentype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Yeseva One", cursive;
  font-weight: normal;

  background-color: $black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;

  vertical-align: bottom;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
