@font-face {
  font-family: "Segoe WP";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/segoewp.woff");
}

@font-face {
  font-family: "Segoe WP Light";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/segoewp-light.ttf");
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/segoeui.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/opensans.ttf");
}

@font-face {
  font-family: "Asap";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/asap.otf");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/ptsans.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.page-header {
  position: relative;

  z-index: 1;

  background: url("assets/img/bg-header.png") #4b4b4b;
  box-shadow: 0 1.6px rgba(33, 31, 25, 0.58);
}

.page-header__wrapper {
  display: flex;
  align-items: flex-start;
}

.page-header__logo {
  margin: 10px 15.5px 0 11px;
}

.navbar__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.navbar__item {
  border-right: 1px solid #d3ac0d;
}

.navbar__item:last-child {
  border-right: none;
}

.navbar__link {
  display: block;
  padding: 18.3px 0 17.7px;

  font-size: 19px;
  color: #9b7d08;
  font-family: "Segoe WP", Arial, sans-serif;
  text-align: center;

  background-color: #eabd08;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.navbar__link:hover {
  background-color: #8bc34a;
}

.navbar__link--about {
  padding-left: 58.6px;
  padding-right: 22.3px;

  letter-spacing: 0.2px;

  background-image: url("assets/img/about.svg"), url("assets/img/bg-navbar.png");
  background-position: 22px 19px, 0 0;
}

.navbar__link--services {
  padding-left: 37.6px;
  padding-right: 13.5px;

  letter-spacing: 0.2px;

  background-image: url("assets/img/services.svg"), url("assets/img/bg-navbar.png");
  background-position: 7px 20px, 0 0;
}

.navbar__link--contact {
  padding-left: 51px;
  padding-right: 12px;

  letter-spacing: 0.2px;

  background-image: url("assets/img/contact.svg"), url("assets/img/bg-navbar.png");
  background-position: 11px 19px, 0 0;
}

.promo {
  position: relative;

  margin-bottom: -9px;
}

.player {
  position: relative;
}

.player__video {
  width: 100%;
  height: 100%;

  vertical-align: bottom;
  object-fit: cover;
}

.player__play {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 33px);

  width: 67px;
  height: 67px;

  background: url("assets/img/btn-play.svg") no-repeat 26px 16px rgba(245, 197, 5, 0.72);
  border: none;
  border-radius: 50%;
}

.player__play--small {
  left: calc(50% - 28px);
  top: calc(50% - 23px);

  width: 61px;
  height: 61px;

  background-position: 18px 14.5px;
  background-size: 30.9px 31.8px;
}

.player__controls {
  display: flex;
  align-items: center;

  position: absolute;
  left: 83px;
  bottom: 22px;
}

.player__sub-play {
  margin-right: 24px;
  width: 27px;
  height: 27px;

  background: url("assets/img/sub-play.svg") no-repeat;
  border: none;
}

.player__progress {
  margin-right: 30px;
  margin-bottom: -1px;
}

.progress {
  width: 404px;
  height: 12px;

  background: rgba(245, 197, 7, 0.28);
  border-radius: 10px;
}

.progress__value {
  width: 179px;
  height: 100%;

  background-color: #f5c507;
  border-radius: 5px 0 0 5px;
}

.player__volume {
  margin-bottom: -1px;
  width: 16px;
  height: 16px;

  background: url("assets/img/volume.svg") no-repeat 0 1px;
  border: none;
}

.promo__slogans {
  display: none;
}

.slider__controls {
  display: none;
}

.features {
  position: relative;
  z-index: 1;

  padding-top: 9px;

  background-image: url("assets/img/bg-features.png");
}

.features__list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  margin-left: 16px;
  margin-right: 80px;
  padding-top: 111px;
  padding-bottom: 29px;
  max-width: 33%;

  font-size: 23px;
  letter-spacing: 0.3px;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 300;

  text-transform: uppercase;
}

.features__item--design {
  background: url("assets/img/design.svg") no-repeat 28px 30px;
}
.features__item--customise {
  background: url("assets/img/customise.svg") no-repeat 21px 28px;
}

.features__item--free {
  margin-right: 0;
  margin-left: 26px;

  background: url("assets/img/free.svg") no-repeat 1px 27px;
}

.news {
  padding: 9px 8px 9px 9px;
}

.news__heading {
  display: none;
}

.news__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.news__item {
  position: relative;

  margin-top: 1px;
  width: 299px;

  font-size: 29px;
  letter-spacing: 0.3px;
  line-height: 33px;
  color: #ffffff;
  font-family: "Segoe WP Light", Arial, sans-serif;
  font-weight: 300;

  background-color: #ec9e03;
}

.news__item--video {
  margin: 0;
  width: auto;
}

.news__text {
  margin: 0;
  padding: 16px 36px 0 26.7px;
}

.news__open {
  position: absolute;
  right: 10px;
  bottom: 16px;

  width: 15px;
  height: 15px;

  background: url("assets/img/open.svg") no-repeat center;
  border: none;
  outline-color: #ffffff;
}

.news__open:hover {
  transform: scale(1.5);
}

.news__date {
  display: none;
}

.twitter {
  padding: 24px 32px 12px 333px;

  background: url("assets/img/bg-twitter.svg") no-repeat 85px 58px #f5c507;
}

.twitter__tweets {
  margin: 0;
  padding: 0;

  list-style: none;
}

.twitter__item {
  position: relative;

  margin-bottom: 14px;
  padding: 7px 36px 5px 18px;

  font-size: 13px;
  letter-spacing: 0.2px;
  color: #8f8e8e;
  font-family: "Arial", sans-serif;

  border-radius: 10px;
}

.twitter__open {
  display: none;
}

.twitter__open:hover {
  transform: scale(1.5);
}

.twitter__count {
  display: none;
}

.twitter__item::before {
  content: "";

  position: absolute;
  left: -9px;
  bottom: 8px;

  border: 6.7px solid;
  border-top-width: 10px;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;

  transform: rotate(-34deg);
}

.twitter__item::after {
  content: "";

  position: absolute;
  left: -17px;
  bottom: 14px;

  width: 16px;
  height: 16px;

  background-color: #f5c507;
  border-radius: 50%;
}

.twitter__item:nth-child(1) {
  background-color: rgba(255, 255, 255, 1);
}

.twitter__item:nth-child(1)::before {
  border-top-color: rgba(255, 255, 255, 1);
}

.twitter__item:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.7);
}

.twitter__item:nth-child(2)::before {
  border-top-color: rgba(255, 255, 255, 0.7);
}

.twitter__item:nth-child(3) {
  background-color: rgba(255, 255, 255, 0.6);
}

.twitter__item:nth-child(3)::before {
  border-top-color: rgba(255, 255, 255, 0.6);
}

.twitter__tweet {
  display: flex;

  padding-left: 4px;
}

.tweet__input {
  flex-grow: 1;

  margin: 0;
}

.tweet__text {
  padding: 8px;
  width: 100%;

  border: none;
  border-right: none;
  border-radius: 9px 0 0 9px;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.28);
}

.tweet__submit {
  padding-top: 1.5px;
  padding-left: 1.5px;
  width: 70px;

  font-size: 15px;
  color: #ffffff;
  font-family: "Arial", sans-serif;

  background: url("assets/img/bg-tweet-submit.png") #e8a624;
  border: none;
  border-radius: 0 10px 10px 0;
}

.scroll {
  display: none;
}

.options {
  padding-top: 30px;
  padding-bottom: 49px;

  background-color: #474747;
}

.options__heading {
  margin: 0;
  padding-bottom: 10px;
  padding-left: 18px;

  font-size: 39px;
  letter-spacing: 1.1px;
  color: #f5c506;
  font-family: "Open Sans", Arial, sans-serif;

  text-transform: uppercase;
}

.options__platforms {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin: 0;
  padding: 63px 43px 42px 57px;

  list-style: none;
}

.options__platform--pc {
  margin-right: -2px;
  margin-bottom: -40px;
}

.options__platform--free {
  position: relative;
}

.options__platform--free::before {
  content: "";

  position: absolute;
  top: -42px;
  left: -31px;

  width: 117px;
  height: 117px;

  background: url("assets/img/sale.svg") no-repeat;
  border-radius: 50%;
}

.options__list {
  display: none;
}

.page-footer {
  background-color: #4c4c4c;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.75);
}

.page-footer__logo {
  padding-top: 5px;
  padding-left: 64px;
}

@media (min-width: 1300px) {
  .background-wrapper {
    background-image: url("assets/img/bg-wrapper.png");
    background-position: center 0;
    background-size: cover;

    box-shadow: inset 0 -2px 3px -1px rgba(0, 0, 0, 0.5);
  }

  .container {
    padding: 0 140px 0 139px;
  }

  .page-header {
    margin-bottom: 50px;

    background: none;
    box-shadow: none;
  }

  .page-header__logo {
    margin: 0;
    margin-right: 249px;
    margin-top: 27px;
  }

  .page-header__picture img {
    width: 319px;
    height: 85px;
  }

  .navbar {
    margin-top: 71px;

    box-shadow: -4px -5px rgba(245, 197, 6, 0.27), -8px -8px rgba(245, 197, 6, 0.27);
  }

  .navbar:hover {
    box-shadow: -4px -5px rgba(139, 195, 74, 0.27), -8px -8px rgba(139, 195, 74, 0.27);
  }

  .navbar__link {
    padding-top: 9px;
    padding-bottom: 10px;

    font-size: 17px;

    background: rgba(245, 197, 6, 1) no-repeat;
  }

  .navbar__link--about {
    padding-left: 69px;
    padding-right: 22.3px;

    background-image: url("assets/img/about.svg");
    background-size: 13%;
    background-position: 37.5px 9.5px;
  }

  .navbar__link--services {
    padding-left: 41px;
    padding-right: 18px;

    background-image: url("assets/img/services.svg");
    background-size: 15.3%;
    background-position: 13px 10px;
  }

  .navbar__link--contact {
    padding-left: 48.5px;
    padding-right: 21.6px;

    background-image: url("assets/img/contact.svg");
    background-size: 17%;
    background-position: 15.5px 10px;
  }

  .promo {
    margin: 0;
    padding-bottom: 72px;
  }

  .promo__player {
    margin-left: 11px;
    margin-right: 49.6px;
    width: 549px;
    height: 329px;
  }

  .promo__player .player__video {
    object-position: -55.5px 1px;
  }

  .player__play {
    left: calc(50% - 34px);
    top: calc(50% - 33px);
  }

  .player__controls {
    left: 29px;
    bottom: 22px;
  }

  .promo__slogans {
    display: block;
    margin: 0;
    padding-top: 73px;
  }

  .promo__slogan {
    display: block;
    margin-bottom: -4px;

    font-size: 63px;
    letter-spacing: 0.6px;
    color: #ffffff;
    font-family: "Asap";
    font-weight: 400;
    text-align: center;

    text-transform: uppercase;
  }

  .promo__slogan--yellow {
    margin-left: -16px;

    color: #f5c506;
  }

  .slider {
    display: flex;

    position: relative;
  }

  .slider__controls {
    display: block;
  }

  .slider__btn {
    position: absolute;
    top: 40.6%;

    width: 32px;
    height: 57px;

    background: rgba(245, 197, 5, 0.71) no-repeat;
    border: none;
  }

  .slider__btn--prev {
    left: calc((100vw - 100%) / -2);

    background-image: url("assets/img/arrow-left.svg");
    background-position: 8px center;
  }

  .slider__btn--next {
    right: calc((100vw - 100%) / -2);

    background-image: url("assets/img/arrow-right.svg");
    background-position: 11px 18px;
    background-color: #f5c506;
  }

  .features {
    padding: 0;

    background-image: url("assets/img/bg-feauters-1300.png");
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }

  .features__item {
    margin: 0;
    padding-top: 143px;
    width: 341px;
    max-width: unset;

    font-size: 27px;

    border-left: 1px solid #d4d4d4;
  }

  .features__item--design {
    padding-left: 87px;

    background-size: 32.5%;
    background-position: 112px 56px;
  }

  .features__item--customise {
    padding-left: 110px;
    padding-top: 144px;

    background-size: 30%;
    background-position: 130px 35px;
  }

  .features__item--free {
    padding-left: 113px;
    padding-top: 144px;

    background-size: 24%;
    background-position: 117px 51px;
    border-right: 1px solid #d4d4d4;
  }

  .page-main__wrapper {
    background-image: url("assets/img/bg-news.png");

    border-bottom: 1px solid transparent;
  }

  .news-twitter-wrapper {
    display: flex;
  }

  .news {
    margin-right: 34px;
    padding: 0;
  }

  .news__heading {
    display: block;
    margin: 0;
    margin-left: 1px;
    margin-bottom: 30px;
    padding-top: 33px;

    font-size: 37px;
    letter-spacing: 0.4px;
    color: #ffffff;
    font-family: "PT Sans", Arial, sans-serif;

    text-transform: uppercase;
  }

  .news__list {
    justify-content: flex-start;

    width: 655px;
  }

  .news__item {
    width: 342px;
  }

  .news__item--video {
    margin: 0;
    margin-top: 1px;
    width: auto;
  }

  .news__item--video .player__play {
    top: calc(50% - 23px);
    left: calc(50% - 28px);
  }

  .news__text {
    padding: 18px 22px 0 30px;

    line-height: 37px;
  }

  .news__open {
    right: 12px;
    bottom: 10px;
  }

  .news__date {
    display: block;
    margin-bottom: 40px;
    padding: 14px 0 0px 7px;
    width: 112px;

    font-size: 21px;
    letter-spacing: 0.5px;
    line-height: 38px;
    color: #b26529;
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;

    background-color: #ddb101;
    text-transform: uppercase;
  }

  .news__day {
    display: block;

    font-size: 51px;
    letter-spacing: 3px;
    line-height: 38px;
    color: #ffffff;
    font-weight: bold;
  }

  .twitter {
    position: relative;

    margin-top: 111px;
    margin-bottom: 133px;
    padding: 0;
    width: 330px;

    background-color: #ec9e03;
    background-size: 49.7%;
  }

  .twitter__tweets {
    display: none;
  }

  .twitter__tweet {
    display: none;
  }

  .twitter__open {
    position: absolute;
    right: 7px;
    bottom: 10px;

    display: block;
    width: 15px;
    height: 15px;

    background: url("assets/img/open.svg") no-repeat center;
    border: none;
    outline-color: #ffffff;
  }

  .twitter__count {
    position: absolute;
    right: 17px;
    top: 10px;

    display: block;

    font-size: 25px;
    line-height: 38px;
    color: #ffffff;
    font-family: "Segoe WP";
    font-weight: 300;
  }

  .scroll {
    display: block;
    margin: 0 0 20px 75px;
    width: 895px;
    height: 15px;

    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.48);
    border-radius: 10px;
  }

  .scroll::-webkit-slider-thumb {
    width: 197px;
    height: 15px;

    -webkit-appearance: none;
    appearance: none;
    background-color: #ec9e03;
    border-radius: 10px;
    cursor: pointer;
  }

  .scroll::-moz-range-thumb {
    width: 197px;
    height: 15px;

    background-color: #ec9e03;
    border-radius: 10px;
    cursor: pointer;
  }

  .options {
    padding-top: 33px;
    padding-bottom: 94px;

    background-image: url("assets/img/bg-options-1300.png");
  }

  .options__heading {
    padding-left: 212px;
    padding-bottom: 48px;

    font-size: 43px;
    letter-spacing: 0.4px;
    font-family: "PT Sans", Arial, sans-serif;
  }

  .options__platforms {
    justify-content: flex-start;

    padding-top: 0;
    padding-left: 19px;
    width: 600px;
  }

  .options__platform--pc {
    margin-right: 24px;
  }

  .options__platform:last-child {
    margin-left: 25px;
  }

  .options__platform--pc::before {
    left: -21px;
    top: -44px;
  }

  .options__wrapper {
    display: flex;
    align-items: flex-start;
  }

  .options__list {
    display: block;
    margin: 0;
    padding: 42px 0 0 72px;

    list-style: none;
  }

  .options__item {
    position: relative;

    font-size: 22px;
    letter-spacing: 0.5px;
    color: #a9a9a7;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
  }

  .options__item::before {
    content: "";

    position: absolute;
    left: -32.8px;

    width: 13.3px;
    height: 13.3px;

    background-color: #f5c506;
    border-radius: 50%;
  }

  .options__item:nth-child(1) {
    margin-bottom: 17px;
  }

  .options__item:nth-child(1)::before {
    top: 9px;
  }

  .options__item:nth-child(2) {
    margin-bottom: 10px;
  }

  .options__item:nth-child(2)::before {
    top: 12px;
  }

  .options__item:nth-child(3) {
    margin-bottom: 17px;
  }

  .options__item:nth-child(3)::before {
    top: 8px;
  }

  .options__item:nth-child(4)::before {
    top: 12px;
  }

  .page-footer {
    background-image: url("assets/img/bg-options-1300.png");
  }

  .page-footer__logo {
    padding-left: 0;
  }

  .page-footer__picture img {
    width: 225px;
    height: 56px;
  }
}
