/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: "Yeseva One";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/yesevaone.ttf") format("opentype"); }

@font-face {
  font-family: "FuturaBookC";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/futurabookc.otf") format("opentype"); }

@font-face {
  font-family: "FuturaDemiC";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/futurademic.otf") format("opentype"); }

@font-face {
  font-family: "FuturaMediumC";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/futuramediumc.otf") format("opentype"); }

@font-face {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-style: normal;
  src: url("assets/fonts/proximanova.ttf") format("opentype"); }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-family: "Yeseva One", cursive;
  font-weight: normal;
  background-color: #131313; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px; }
  @media (min-width: 1440px) {
    .container {
      padding-right: 104px;
      padding-left: 82px; } }

.btn {
  display: block;
  padding: 19px 21px 18px;
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  cursor: pointer; }
  .btn:hover {
    color: #e3b873;
    background-color: #ffffff; }
  .btn--sm {
    padding: 13px 33px; }
  .btn--md {
    padding: 17px 74px; }
  .btn--ghost {
    background-color: transparent;
    border: 1px solid #ffffff; }

.page-header {
  position: relative; }

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 22px; }
  @media (min-width: 1440px) {
    .page-header__wrapper {
      padding-top: 24px; } }

.page-header__heading {
  margin: 0;
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #e3b873;
  text-transform: uppercase; }

.navigation {
  display: flex; }

.navigation__navbar {
  display: none;
  margin: 0;
  margin-right: 73px;
  width: 582px; }
  @media (min-width: 1440px) {
    .navigation__navbar {
      display: flex; } }

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none; }

.navbar__link {
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase; }
  .navbar__link:hover {
    color: #e3b873; }
  .navbar__link--current {
    color: #e3b873; }

.call {
  display: flex;
  align-items: center; }

.call__number {
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  vertical-align: top; }
  .call__number:hover {
    color: #e3b873; }
  @media (min-width: 1440px) {
    .call__number {
      color: #e3b873;
      font-size: 14px;
      line-height: 16px;
      text-decoration: underline; }
      .call__number:hover {
        color: #ffffff; } }

.call__btn {
  display: none;
  margin-left: 45px; }
  @media (min-width: 1440px) {
    .call__btn {
      display: block; } }

.promo {
  position: relative;
  background: url("assets/img/bg-promo.jpg") no-repeat;
  background-size: cover; }
  @media (min-width: 1440px) {
    .promo {
      background-image: url("assets/img/bg-promo-desktop.jpg"); } }

.promo__instagram {
  position: absolute;
  left: 0;
  bottom: 100%;
  z-index: 1;
  display: none;
  width: 660px;
  background-color: #131313;
  transform-origin: left bottom;
  transform: rotate(90deg); }
  @media (min-width: 1440px) {
    .promo__instagram {
      display: block; } }

.promo__instagram-link {
  position: relative;
  display: inline-block;
  margin-left: 340px;
  padding-top: 32px;
  padding-bottom: 35px;
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #e3b873;
  text-transform: uppercase; }
  .promo__instagram-link:hover {
    color: #ffffff; }
    .promo__instagram-link:hover::after {
      background-color: #ffffff; }
  .promo__instagram-link::after {
    content: "";
    position: absolute;
    top: 36px;
    right: -60px;
    width: 51px;
    height: 2px;
    background-color: #e3b873; }

.promo__wrapper {
  padding-top: 85px;
  padding-bottom: 61px; }
  @media (min-width: 1440px) {
    .promo__wrapper {
      padding: 194px 640px 208px 60px; } }

.promo__heading {
  margin: 0;
  margin-bottom: 16px;
  font-size: 23px;
  font-weight: normal;
  line-height: 31px;
  text-transform: uppercase;
  color: #ffffff; }
  @media (min-width: 1440px) {
    .promo__heading {
      font-size: 40px;
      line-height: 53px; } }

.promo__highlight {
  font-weight: normal;
  color: #e3b873; }

.promo__text {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  padding-right: 56px;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff; }
  @media (min-width: 1440px) {
    .promo__text {
      padding-right: 100px;
      font-size: 22px;
      line-height: 30px; } }

@media (min-width: 1440px) {
  .promo__btn-wrapper {
    display: flex; } }

.promo__cost {
  margin-bottom: 26px; }
  @media (min-width: 1440px) {
    .promo__cost {
      margin-bottom: 0;
      margin-right: 20px;
      width: 207px; } }

@media (min-width: 1440px) {
  .promo__submit {
    width: 207px; } }

.promo__desktop-only {
  display: none; }
  @media (min-width: 1440px) {
    .promo__desktop-only {
      display: inline; } }

.promo__scroll-down {
  position: absolute;
  left: 0;
  bottom: -50px;
  z-index: 2;
  display: none;
  padding: 40px 94px 39px 48px;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  background: #131313 url("assets/img/scroll-down.svg") no-repeat calc(100% - 44px) center; }
  .promo__scroll-down:hover {
    color: #e3b873; }
  @media (min-width: 1440px) {
    .promo__scroll-down {
      display: block; } }

.photo-slider {
  position: relative;
  overflow: hidden; }

.photo-slider__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translate(-100%); }
  @media (min-width: 1440px) {
    .photo-slider__list {
      transform: none; } }

.photo-slider__item {
  flex-shrink: 0;
  width: 100%; }

@media (min-width: 1440px) {
  .photo-slider:not(.photo-slider--mobile) .photo-slider__item {
    margin-right: 21px;
    width: 679px; } }

@media (min-width: 1440px) {
  .photo-slider.photo-slider--mobile .photo-slider__item {
    width: auto; } }

.photo-slider__image {
  width: 100%; }
  .photo-slider__image img {
    width: 100%; }

.photo-slider__control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background: #e3b873 no-repeat;
  background-position-y: center;
  cursor: pointer; }
  .photo-slider__control:hover {
    background-color: #181818; }
  .photo-slider__control--prev {
    left: 13px;
    background-image: url("assets/img/photo-slider-prev.svg");
    background-position-x: 45%; }
    @media (min-width: 1440px) {
      .photo-slider__control--prev {
        display: none; } }
  .photo-slider__control--next {
    right: 13px;
    background-image: url("assets/img/photo-slider-next.svg");
    background-position-x: 55%; }
    @media (min-width: 1440px) {
      .photo-slider__control--next {
        width: 56px;
        height: 56px;
        background-size: 14px; } }

@media (min-width: 1440px) {
  .photo-slider--mobile .photo-slider__controls {
    display: none; } }

.arrow-slider {
  display: flex;
  flex-direction: column; }

.arrow-slider__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.arrow-slider__controls {
  display: none; }
  @media (min-width: 1440px) {
    .arrow-slider__controls {
      display: flex;
      align-items: center; } }

.arrow-slider__primary {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.arrow-slider__control {
  margin-right: 20px; }
  .arrow-slider__control:last-child {
    margin-right: 0; }

.arrow-slider__control-btn {
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer; }
  .arrow-slider__control-btn:hover {
    background-color: #ffffff; }
  .arrow-slider__control-btn--current {
    background-color: #ffffff; }

.arrow-slider__secondary {
  width: 41px;
  height: 15px;
  border: none;
  background: transparent no-repeat;
  cursor: pointer;
  --margin: 28px; }
  .arrow-slider__secondary:hover {
    transform: scale(1.1); }
  .arrow-slider__secondary--prev {
    margin-right: var(--margin);
    background-image: url("assets/img/arrow-slider-prev.svg"); }
  .arrow-slider__secondary--next {
    margin-left: var(--margin);
    background-image: url("assets/img/arrow-slider-next.svg"); }

.projects__wrapper {
  padding-top: 36px;
  padding-bottom: 67px;
  padding-left: 18px;
  padding-right: 18px; }
  @media (min-width: 1440px) {
    .projects__wrapper {
      display: grid;
      grid-template-columns: 442px 1fr;
      grid-template-rows: auto auto auto 1fr;
      grid-template-areas: ". projects" "heading images" "description images" "params images";
      column-gap: 50px;
      margin-left: calc(100% - 1340px);
      padding-top: 107px; } }

.projects__heading {
  grid-area: heading;
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  padding: 0 100px;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873; }
  @media (min-width: 1440px) {
    .projects__heading {
      margin-bottom: 34px;
      padding-left: 0;
      padding-right: 161px;
      font-size: 27px;
      line-height: 37px;
      text-align: left; }
      .projects__heading::after {
        content: "";
        position: absolute;
        top: 53px;
        left: 160px;
        width: 91px;
        height: 2px;
        background-color: #e3b873; } }

.projects__description {
  grid-area: description;
  margin: 0;
  margin-bottom: 36px;
  padding: 0 13px;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #ffffff; }
  @media (min-width: 1440px) {
    .projects__description {
      padding-left: 0;
      font-size: 18px;
      line-height: 29px;
      text-align: left; } }

.projects__images {
  grid-area: images;
  margin-bottom: 37px; }
  @media (min-width: 1440px) {
    .projects__images {
      margin-bottom: 0; } }

.projects__params {
  grid-area: params; }
  @media (min-width: 1440px) {
    .projects__params {
      padding-right: 60px; } }

.projects__params-list {
  margin-bottom: auto; }

.projects__param-table {
  width: 100%; }

.projects__param-table tbody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 27px; }

.projects__param-table tr {
  display: flex;
  flex-direction: column; }

.projects__key {
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 19px;
  color: #e3b873;
  text-transform: uppercase; }
  @media (min-width: 1440px) {
    .projects__key {
      font-size: 18px;
      line-height: 25px; } }

.projects__value {
  width: 100px;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff; }
  @media (min-width: 1440px) {
    .projects__value {
      font-size: 15px;
      line-height: 20px; } }

.projects__list {
  grid-area: projects;
  display: none;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style: none; }
  @media (min-width: 1440px) {
    .projects__list {
      display: flex; } }

.projects__item {
  margin-right: 61px; }

.projects__link {
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3); }
  .projects__link:hover {
    color: #ffffff; }
  .projects__link--current {
    color: #e3b873;
    text-decoration: underline; }

.online {
  background-image: linear-gradient(to top, #ffffff 25px, transparent 25px); }
  @media (min-width: 1440px) {
    .online {
      background-image: linear-gradient(to bottom, transparent 323px, #ffffff 323px); } }

@media (min-width: 1440px) {
  .online__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.online__heading {
  margin-bottom: 40px;
  padding-bottom: 48px;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: url("assets/img/online-heading.svg") no-repeat center bottom; }
  @media (min-width: 1440px) {
    .online__heading {
      font-size: 20px;
      line-height: 28px; } }

.online__video {
  margin-bottom: 28px;
  width: 100%; }
  @media (min-width: 1440px) {
    .online__video {
      margin-bottom: 63px;
      width: 817px;
      height: 434px; } }

.online__text {
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  padding-top: 22px;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff; }
  .online__text::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 55px;
    height: 2px;
    background-color: #e3b873;
    transform: translateX(-50%); }
  @media (min-width: 1440px) {
    .online__text {
      margin-bottom: 92px;
      padding-top: 34px;
      width: 681px;
      font-size: 20px;
      line-height: 34px;
      color: #363636; } }

@media (min-width: 1440px) {
  .online__form {
    display: grid;
    grid-template-columns: 520px 200px;
    grid-template-areas: "text submit" "personal personal";
    column-gap: 49px;
    justify-items: center;
    width: 769px; } }

.online__text-inputs {
  grid-area: text;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  width: 100%;
  list-style: none; }
  @media (min-width: 1440px) {
    .online__text-inputs {
      display: flex;
      justify-content: space-between;
      margin: 0; } }

.online__text-input {
  margin: 0;
  margin-bottom: 63px;
  color: #ffffff; }
  .online__text-input:last-child {
    margin-bottom: 0; }
  @media (min-width: 1440px) {
    .online__text-input {
      margin: 0;
      width: 231px;
      color: #181818; } }

.online__personal-data {
  grid-area: personal;
  margin-bottom: 63px;
  color: #ffffff; }
  @media (min-width: 1440px) {
    .online__personal-data {
      color: #181818; } }

.online__submit {
  grid-area: submit;
  width: 100%; }
  @media (min-width: 1440px) {
    .online__submit {
      width: 200px; } }

.text-input {
  font-family: "FuturaBookC", Arial, sans-serif; }

.text-input__label {
  display: block;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5); }

.text-input__text {
  padding: 0;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  color: inherit;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent; }
  .text-input__text::placeholder {
    color: #ffffff; }

@media (min-width: 1440px) {
  .text-input--desktop-light .text-input__label {
    color: rgba(54, 54, 54, 0.5); }
  .text-input--desktop-light .text-input__text {
    border-color: #181818; }
    .text-input--desktop-light .text-input__text::placeholder {
      color: #181818; } }

.checkbox-input__label {
  position: relative;
  display: block;
  margin-left: 27px;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: inherit;
  cursor: pointer; }
  .checkbox-input__label::before {
    content: "";
    position: absolute;
    left: -27px;
    width: 18px;
    height: 18px;
    border: 2px solid #e3b873;
    border-radius: 1px; }

.checkbox-input input[type="checkbox"]:checked + .checkbox-input__label::before {
  background: url("assets/img/checkbox-checked.svg") #e3b873 no-repeat center; }

.card__preview {
  position: relative;
  display: block;
  margin-bottom: -142px;
  width: 100%; }
  .card__preview img {
    width: 100%; }
  @media (min-width: 1440px) {
    .card__preview {
      margin-bottom: -120px; } }

.card__wrapper {
  width: 270px; }
  @media (min-width: 1440px) {
    .card__wrapper {
      margin: 0 auto;
      width: 330px; } }

.card__description {
  position: relative;
  z-index: 1;
  margin-bottom: -20px;
  padding: 21px 41px 37px 31px;
  background-color: #ffffff;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05); }

.card__name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #363636; }
  @media (min-width: 1440px) {
    .card__name {
      font-size: 18px;
      line-height: 25px; } }

.card__options {
  margin: 0;
  padding-left: 15px;
  list-style-type: disc; }

.card__option {
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #959595; }
  @media (min-width: 1440px) {
    .card__option {
      font-size: 15px;
      line-height: 25px; } }

.card__link {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 12px 20px;
  padding-right: 0;
  width: 191px;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e3b873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3); }
  @media (min-width: 1440px) {
    .card__link {
      width: 228px;
      font-size: 18px;
      line-height: 25px; } }

@media (min-width: 1440px) {
  .card__mobile-only {
    display: none; } }

.card__desktop-only {
  display: none; }
  @media (min-width: 1440px) {
    .card__desktop-only {
      display: block; } }

.repair {
  padding-top: 58px;
  background-color: #ffffff; }

.repair__heading {
  margin: 0;
  margin-bottom: 40px;
  padding-bottom: 45px;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #181818;
  text-transform: uppercase;
  background: url("assets/img/repair-heading.svg") no-repeat center bottom; }
  @media (min-width: 1440px) {
    .repair__heading {
      font-size: 20px;
      line-height: 28px; } }

.repair__types {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 1440px) {
    .repair__types {
      display: flex;
      justify-content: space-between; } }

.repair__type {
  margin-bottom: 59px; }
  .repair__type:last-child {
    margin-bottom: 0; }
  @media (min-width: 1440px) {
    .repair__type {
      width: 392px; } }

.repair__preview {
  position: relative;
  margin-bottom: -142px;
  width: 100%; }
  @media (min-width: 1440px) {
    .repair__preview {
      margin-bottom: -120px; } }

.repair__wrapper {
  width: 270px; }
  @media (min-width: 1440px) {
    .repair__wrapper {
      margin: 0 auto;
      width: 330px; } }

.repair__description {
  position: relative;
  z-index: 1;
  margin-bottom: -20px;
  padding: 21px 41px 37px 31px;
  background-color: #ffffff;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05); }

.repair__name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #363636; }
  @media (min-width: 1440px) {
    .repair__name {
      font-size: 18px;
      line-height: 25px; } }

.repair__options {
  margin: 0;
  padding-left: 15px;
  list-style-type: disc; }

.repair__option {
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #959595; }
  @media (min-width: 1440px) {
    .repair__option {
      font-size: 15px;
      line-height: 25px; } }

.repair__link {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 12px 20px;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e3b873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3); }
  @media (min-width: 1440px) {
    .repair__link {
      font-size: 18px;
      line-height: 25px; } }

.measures {
  display: none;
  padding-top: 179px;
  padding-bottom: 80px;
  background-color: #ffffff; }
  @media (min-width: 1440px) {
    .measures {
      display: block; } }

.measures__wrapper {
  padding-right: calc(100% - 1340px); }
  @media (min-width: 1440px) {
    .measures__wrapper {
      display: grid;
      grid-template-columns: 1fr 509px;
      grid-template-areas: "features form" "features special";
      justify-content: space-between;
      column-gap: 5px;
      align-items: end; } }

.measures__features {
  grid-area: features;
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 110px;
  height: 636px;
  background: url("assets/img/bg-measures-list.png") no-repeat;
  list-style: none; }
  .measures__features::before {
    content: "";
    position: absolute;
    top: 30px;
    left: -150px;
    width: 636px;
    height: 636px;
    border: 4px solid #e3b873;
    border-radius: 50%; }

.measures__feature {
  position: relative;
  font-family: "FuturaMediumC", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #363636; }
  .measures__feature::before {
    position: absolute;
    top: -14px;
    left: -70px;
    padding-top: 8px;
    width: 70px;
    height: 70px;
    font-family: "Yeseva One", Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    border: 15px solid #ffffff;
    border-radius: 50%;
    background-color: #e3b873; }
  .measures__feature:nth-child(1) {
    margin-left: 430px;
    margin-bottom: 70px; }
    .measures__feature:nth-child(1)::before {
      content: "01"; }
  .measures__feature:nth-child(2) {
    margin-left: 500px;
    margin-bottom: 130px;
    padding-top: 12px; }
    .measures__feature:nth-child(2)::before {
      content: "02"; }
  .measures__feature:nth-child(3) {
    margin-left: 515px;
    margin-bottom: 128px; }
    .measures__feature:nth-child(3)::before {
      content: "03"; }
  .measures__feature:nth-child(4) {
    margin-left: 440px; }
    .measures__feature:nth-child(4)::before {
      content: "04"; }

.measures__form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  padding: 28px 49px;
  color: #ffffff;
  background-color: #131313;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05); }

.measures__form-title {
  margin: 0;
  padding: 0 66px 39px;
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff; }

.measures__text-inputs {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  list-style: none; }

.measures__text-input {
  margin-bottom: 70px; }
  .measures__text-input:last-child {
    margin-bottom: 0; }

.measures__personal-data {
  margin-bottom: 39px; }

.measures__submit {
  align-self: flex-end; }

.measures__special {
  grid-area: special;
  padding: 30px 180px 30px 100px;
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #e3b873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
  background: url("assets/img/measures-special.svg") no-repeat -10px -7px; }

.fantasy {
  padding-top: 55px;
  background-image: linear-gradient(to bottom, #ffffff 260px, transparent 260px); }
  @media (min-width: 1440px) {
    .fantasy {
      padding: 0;
      background: url("assets/img/bg-fantasy.jpg") #ffffff no-repeat;
      background-position-y: 140px;
      background-size: cover; } }

@media (min-width: 1440px) {
  .fantasy__wrapper {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "heading images" "list images"; } }

.fantasy__heading {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 40px;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #e3b873; }
  @media (min-width: 1440px) {
    .fantasy__heading {
      margin-bottom: 47px;
      padding: 0;
      padding-top: 270px;
      padding-right: 90px;
      font-size: 27px;
      line-height: 37px;
      text-align: left; } }

.fantasy__options {
  grid-area: list;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 1440px) {
    .fantasy__options {
      display: block; } }

.fantasy__option {
  margin-bottom: 20px; }

.fantasy__link {
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 20px;
  line-height: 34px;
  color: #ffffff; }
  .fantasy__link:hover {
    color: #e3b873; }
  .fantasy__link--current {
    color: #e3b873;
    text-decoration: underline; }

.fantasy__slider {
  grid-area: images; }

.fantasy__images {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 1440px) {
    .fantasy__images {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-between;
      height: 1049px; } }

@media (min-width: 1440px) {
  .fantasy__item:not(:nth-child(2n)) {
    margin-bottom: 42px; }
  .fantasy__item:first-child {
    margin-top: 100px; } }

.design {
  padding-top: 52px;
  padding-bottom: 76px; }
  @media (min-width: 1440px) {
    .design {
      margin-top: -30px;
      padding-top: 150px;
      padding-bottom: 0;
      background-image: linear-gradient(to bottom, #ffffff 620px, #131313 620px); } }

.design__heading {
  margin: 0;
  margin-bottom: 23px;
  padding-bottom: 44px;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: url("assets/img/design-heading.svg") no-repeat center bottom; }
  @media (min-width: 1440px) {
    .design__heading {
      font-size: 20px;
      line-height: 28px;
      color: #181818; } }

.design__description {
  padding: 0 23px;
  margin-bottom: 39px;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff; }
  @media (min-width: 1440px) {
    .design__description {
      margin: 0 auto 39px;
      padding: 0;
      width: 654px;
      font-size: 20px;
      line-height: 27px;
      color: #363636; } }

.design__types {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 1440px) {
    .design__types {
      display: flex;
      justify-content: space-between; } }

.design__type {
  margin-bottom: 60px; }
  .design__type:last-child {
    margin-bottom: 0; }
  @media (min-width: 1440px) {
    .design__type {
      width: 392px; } }

.work {
  display: none;
  margin-top: -30px;
  padding-bottom: 80px; }
  @media (min-width: 1440px) {
    .work {
      display: block; } }

.work__wrapper {
  display: grid;
  grid-template-columns: 337px 805px;
  grid-template-areas: "heading ." "slogan stages" "slider stages" "slider image";
  justify-content: space-between; }

.work__heading {
  grid-area: heading;
  margin: 0;
  margin-bottom: 18px;
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff; }

.work__slogan {
  position: relative;
  grid-area: slogan;
  margin-bottom: 92px;
  padding-right: 130px;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #e3b873; }
  .work__slogan::after {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 30px;
    width: 92px;
    height: 2px;
    background-color: rgba(227, 184, 115, 0.5); }

.work__slider {
  grid-area: slider; }

.work__order {
  display: block;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #ffffff; }

.work__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
  color: #e3b873; }

.work__description {
  margin: 0;
  margin-bottom: 141px;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff; }

.work__stages {
  grid-area: stages;
  display: grid;
  grid-template-columns: repeat(3, 120px);
  justify-content: space-between;
  row-gap: 36px;
  margin: 0;
  margin-bottom: 104px;
  padding: 0;
  padding-top: 40px;
  list-style: none;
  counter-reset: stage; }

.work__stage {
  position: relative;
  padding-top: 30px;
  opacity: 0.3; }
  .work__stage:hover {
    opacity: 0.6; }
  .work__stage::before {
    counter-increment: stage;
    content: "0" counter(stage);
    position: absolute;
    top: 0;
    font-size: 15px;
    line-height: 21px;
    color: #ffffff;
    border-bottom: 2px solid #e3b873; }
  .work__stage--current {
    opacity: 1; }

.work__link {
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff; }

.work__image {
  grid-area: image; }

@media (min-width: 1440px) {
  .team {
    background-image: linear-gradient(to bottom, #131313 400px, #ffffff 400px); } }

.team__heading {
  margin: 0;
  margin-bottom: 24px;
  padding-bottom: 41px;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: url("assets/img/team-heading.svg") no-repeat center bottom; }

.team__members {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 1440px) {
    .team__members {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 50px; } }

.team__member {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 104px; }
  .team__member:last-child {
    margin-bottom: 0; }
  .team__member::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -55px;
    width: 70px;
    height: 70px;
    background: #e3b873 no-repeat center; }
  .team__member--manager::before {
    background-image: url("assets/img/idea.svg"); }
  .team__member--design::before {
    background-image: url("assets/img/design.svg"); }
  .team__member--foreman::before {
    background-image: url("assets/img/portfolio.svg"); }
  @media (min-width: 1440px) {
    .team__member {
      margin-bottom: 0; } }

.team__preview {
  margin-bottom: -95px; }

.team__description {
  margin: 0;
  margin-bottom: 104px;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff; }
  @media (min-width: 1440px) {
    .team__description {
      margin-left: auto;
      margin-right: auto;
      width: 330px; } }

.team__wrapper {
  padding: 20px;
  width: 233px;
  background-color: #ffffff; }

.team__name {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #181818; }

.team__position {
  display: block;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #959595; }

.team__experience {
  display: block;
  padding: 14px 0;
  width: 233px;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #e3b873; }

.team__summary {
  display: none;
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  width: 558px;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #363636; }
  .team__summary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 55px;
    height: 2px;
    background-color: #e3b873;
    transform: translateX(-50%); }
  @media (min-width: 1440px) {
    .team__summary {
      display: block; } }

.clients {
  display: none;
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: #ffffff; }
  @media (min-width: 1440px) {
    .clients {
      display: block; } }

.clients__heading {
  margin: 0;
  margin-bottom: 24px;
  padding-bottom: 40px;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  background: url("assets/img/clients-heading.svg") no-repeat center bottom; }

.clients__stat {
  margin: 0 auto 39px;
  width: 290px;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #363636; }

.clients__reviews {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.clients__review {
  padding: 20px;
  width: 376px;
  background-color: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1); }

.clients__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.clients__name {
  margin: 0;
  width: 176px;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #181818; }

.clients__avatar {
  order: -1;
  margin-right: 20px;
  border-radius: 50%; }

.clients__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: "FuturaBookC", Arial, sans-serif;
  font-size: 15px;
  line-height: 27px;
  color: #959595; }

.clients__params {
  display: flex;
  margin: 0;
  margin-left: -20px;
  padding: 0;
  list-style: none; }

.clients__param {
  margin-bottom: -50px;
  padding: 15px;
  padding-left: 60px;
  padding-right: 30px;
  font-size: 17px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  border-right: 1px solid #ffffff;
  background: #e3b873 no-repeat 15px center;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5); }
  .clients__param--area {
    background-image: url("assets/img/area.svg"); }
  .clients__param--time {
    background-image: url("assets/img/time.svg"); }
  .clients__param:last-child {
    border-right: none; }

@media (min-width: 1440px) {
  .questions {
    margin-bottom: -300px;
    background-color: #ffffff; } }

.questions__wrapper {
  position: relative;
  z-index: 1;
  padding-top: 76px; }
  @media (min-width: 1440px) {
    .questions__wrapper {
      margin: 0 auto;
      padding: 34px 181px;
      padding-bottom: 52px;
      width: 883px;
      background-color: #131313; } }

.questions__heading {
  margin: 0;
  margin-bottom: 52px;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff; }

@media (min-width: 1440px) {
  .questions__form {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.questions__text-inputs {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  list-style: none; }
  @media (min-width: 1440px) {
    .questions__text-inputs {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 50px; } }

.questions__text-input {
  margin-bottom: 50px;
  color: #ffffff; }
  .questions__text-input:last-child {
    margin-bottom: 0; }
  @media (min-width: 1440px) {
    .questions__text-input {
      flex-basis: 231px; }
      .questions__text-input:last-child {
        flex-grow: 1; } }

.questions__personal-data {
  margin-bottom: 70px;
  color: #ffffff; }

.questions__submit {
  width: 100%; }
  @media (min-width: 1440px) {
    .questions__submit {
      width: 200px; } }

.contacts {
  padding-top: 50px; }
  @media (min-width: 1440px) {
    .contacts {
      padding-top: 330px;
      padding-bottom: 60px;
      background: url("assets/img/bg-contacts.jpg") no-repeat;
      background-size: cover; } }

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contacts__heading {
  margin: 0;
  margin-bottom: 26px;
  padding: 0 15px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #e3b873; }
  @media (min-width: 1440px) {
    .contacts__heading {
      width: 589px;
      font-size: 20px;
      line-height: 28px; } }

.contacts__tel {
  font: inherit;
  color: inherit; }

.contacts__socials {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  list-style: none; }
  @media (min-width: 1440px) {
    .contacts__socials {
      width: 71px; } }

.contacts__link {
  display: block;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background: #e3b873 no-repeat center; }
  .contacts__link:hover {
    transform: scale(1.1); }
  @media (min-width: 1440px) {
    .contacts__link {
      width: 26px;
      height: 26px;
      background-size: 65%; } }
  .contacts__link--mail {
    background-image: url("assets/img/mail.svg"); }
  .contacts__link--instagram {
    background-image: url("assets/img/instagram.svg"); }

.contacts__map {
  order: -1;
  margin-bottom: 40px; }
  @media (min-width: 1440px) {
    .contacts__map {
      order: 0;
      margin-bottom: 0; } }

.page-footer {
  display: none; }
  @media (min-width: 1440px) {
    .page-footer {
      display: block; } }

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 32px; }

.page-footer__heading {
  margin: 0;
  font-family: "FuturaDemiC", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #e3b873;
  text-transform: uppercase; }
