body {
  position: relative;

  margin: 0;

  background-color: #000000;
}

iframe {
  display: block;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;

  background-color: #ffffff;
  border: none;
}

.btn-group {
  position: absolute;
  left: 20px;
  top: 70px;
}

.btn {
  display: block;
  margin-bottom: 15px;
  padding: 5px;
  width: 100px;

  font-size: 20px;
  color: white;

  border: none;
  border-radius: 3px;
  background-color: #28a74e;

  cursor: pointer;
}
