img {
  max-width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.project__name {
  margin-top: 10px;
}

.project__alert {
  display: none;
}

.card-body,
.project__image {
  padding: 0;
}

.project__description--hidden {
  display: none;
}

.btn-description {
  position: absolute;

  z-index: 100;
  right: 10px;
  top: 10px;
}

@media (min-width: 1200px) {
  .project__name {
    margin-top: 0;
  }

  .project__alert {
    display: block;
  }

  .carousel-control-prev {
    display: flex;

    left: -10px;
    width: 20px;
  }

  .carousel-control-next {
    display: flex;

    right: -10px;
    width: 20px;
  }

  .card-body {
    padding: 20px;
  }

  .project__description {
    position: static;
  }

  .project__description--hidden {
    display: block;
  }

  .project__image {
    padding: 0 20px;
    width: auto;
  }

  .project__image img {
    border-radius: 4px;
  }

  .btn-description {
    display: none;
  }
}
