.Spinner {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 200px;
  height: 100px;
  transform: translate(-50%, -50%);

  font-size: 0;

  background: url('./img/spinner.svg') no-repeat;
}

.Spinner-hidden {
  display: none;
}
