.sizes__toggle {
  position: relative;

  display: block;
  padding: 12px 0;
  padding-left: 57px;
  width: 100%;

  cursor: pointer;

  &::before {
    content: '';

    position: absolute;
    left: 0;
    top: 50%;

    width: 20px;
    height: 20px;

    border: 1px solid #757575;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &::before {
    content: '';

    position: absolute;
    left: 0;
    top: 50%;

    width: 20px;
    height: 20px;

    border: 1px solid #757575;
    border-radius: 4px;
    transform: translateY(-50%);
  }

  &::after {
    content: '';

    position: absolute;
    left: 4px;
    top: 50%;

    display: none;
    width: 12px;
    height: 12px;

    background-color: #757575;
    border-radius: 2px;
    transform: translateY(-50%);
  }
}

.sizes input[type='radio']:checked ~ .sizes__toggle::after {
  display: block;
}
