.app {
  display: grid;

  grid-template-columns: 228px 512px;
  justify-content: space-between;
  grid-template-areas:
    'tools canvas random-image'
    'colors canvas sizes';
  row-gap: 92px;

  padding: 79px 29px 0;
}

.app__tools {
  grid-area: tools;
}

.app__colors {
  grid-area: colors;
}

.app__sizes {
  grid-area: sizes;
}

.app__canvas {
  grid-area: canvas;

  width: 512px;
  height: 512px;
}

.app__random-image {
  grid-area: random-image;
}

.app__login {
  display: block;
  margin: auto;
  margin-top: 200px;
  padding: 10px;

  font-size: 24px;
  color: white;

  border-radius: 10px;
  background-color: rgb(0, 128, 28);
  cursor: pointer;
}
