.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0;
  padding: 10px;
  width: 750px;

  background-color: #9e9e9e;
  list-style: none;
}
