.control-button {
  padding: 10px 20px;

  background-color: #607d8b;
  cursor: pointer;

  transition: all 0.05s;

  &:hover {
    background-color: white;
  }
}

.control-button:active,
.control-button--pressed {
  background-color: #e0e0e0;
  transform: scale(0.9);
  box-shadow: 1px 1px 1px rgba($color: black, $alpha: 0.3);
}
