@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.BgSwitch {
  position: relative;

  display: block;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;

  font-size: 0;

  border: none;
  border-radius: 5px;
  background-image: url('./img/bg.svg');
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: '';

    position: absolute;
    left: 14px;
    top: 13px;

    display: block;
    width: 15px;
    height: 20px;

    background-image: url('./img//arrow.svg');

    transition: all 0.8s;
  }

  &:hover {
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3
    );
    background-size: 1800% 1800%;
    animation: rainbow 6s ease infinite;

    transform: scale(1.1);
    &::before {
      transform: rotate(180deg);
    }
  }
}
