.colors {
  margin: 0;
  padding: 0;
  width: 228px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
  list-style: none;
}

.colors__picker {
  position: absolute;
  left: -100000px;

  width: 0;
  height: 0;
}

.colors__btn {
  position: relative;

  display: block;
  padding: 12px 52px;
  padding-right: 0;
  width: 100%;

  font-size: 16px;
  line-height: 24px;
  text-align: left;

  background: no-repeat 0 center;
  border: none;
  outline: none;
  cursor: pointer;

  --current-color: #c4c4c4;
  --prev-color: #41f795;
  --red-color: #f74141;
  --blue-color: #00bcd4;

  &::before {
    content: '';

    position: absolute;
    left: 16px;
    top: 50%;

    width: 20px;
    height: 20px;

    border: 1px solid #000000;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &--current::before {
    background-color: var(--current-color);
  }

  &--prev::before {
    background-color: var(--prev-color);
  }

  &--red::before {
    background-color: var(--red-color);
  }

  &--blue::before {
    background-color: var(--blue-color);
  }
}
