.LocationSearch {
  display: flex;
}

.LocationSearch-voice {
  position: relative;

  padding: 14px 20px 13px;

  font-size: 0;

  background-color: rgba(174, 181, 185, 0.5);
  border-radius: 5px 0 0 5px;
  border: none;
  cursor: pointer;

  &::before {
    content: '';

    position: absolute;
    left: 12px;
    top: 12px;

    width: 15px;
    height: 17px;

    background: url('img/voice.svg') no-repeat;
  }

  &:hover {
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3
    );
    background-size: 1800% 1800%;
    animation: rainbow 6s ease infinite;

    transform: scale(1.1);
  }
}

.LocationSearch-input {
  padding: 13px 58px 12px 13px;

  width: 100%;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: white;

  background-color: rgba(76, 82, 85, 0.4);
  border: 1px solid rgba(228, 227, 227, 0.2);

  &::placeholder {
    color: white;
  }
}

.LocationSearch-button {
  padding: 14px 20px 13px;

  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: white;

  background-color: rgba(174, 181, 185, 0.5);
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;

  &:hover {
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3
    );
    background-size: 1800% 1800%;
    animation: rainbow 6s ease infinite;

    transform: scale(1.1);
  }
}
