.TodayWeather {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;

  background: var(--bg-image-url) no-repeat 80px 45px;
  @media (min-width: 1200px) {
    background-position: 360px -10px;
    background-size: 400px;
  }
}

.TodayWeather-wrapper {
  @media (min-width: 1200px) {
    margin-top: -130px;
    align-self: flex-end;
  }
}

.TodayWeather-date {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  text-transform: capitalize;
  color: white;

  @media (min-width: 1200px) {
    font-size: 24px;
    line-height: 29px;
  }
}

.TodayWeather-degrees {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 53px;
  color: white;

  text-transform: uppercase;
  @media (min-width: 1200px) {
    font-size: 306px;
    line-height: 373px;
  }
}

.TodayWeather-info {
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: white;

  text-transform: uppercase;

  @media (min-width: 1200px) {
    font-size: 22px;
    line-height: 37px;
  }
}
